.prevent-selection {
  user-select: none;
}

body {
    background-repeat: no-repeat;
  padding-top: 10px; /* Adjust the value as needed for the spacing from the top */
}

#blur-panel {
    width: 1vw;
    height: 1vh;
}

/* Clock CSS */
#clock-container {
    font-size: 8vw;
    font-weight: normal; 
    text-align: center;
}

#indicator {
    font-size: 3vw;
}

#date {
    font-size: 4vw;
    padding-top: 5px;
}

    &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
    background-color: #212529;
    border-radius: 10px;
    }
    
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #313539;
    color: #fff;
    padding: 10px;
    max-height: 75vh;
    overflow: auto;
    max-width: 15vw;
    min-width: 250px;
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.2);
}

.color-block {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#time-duration {
    font-weight: bold;
}

    .extra-large {
        font-size: 7rem;
    }  

    @keyframes flash {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    .flash-text {
      position: relative;
      display: inline-block;
      animation: flash 2s infinite; /* Adjust the duration as needed */
      text-align: center;
      color: red;
    }

    .dot {
      position: absolute;
      top: 50%;
      left: -15px; /* Adjust the distance from the text */
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;
      transform: translate(0, -50%);
    }

     .center-buttons {
      display: flex;
      justify-content: center;
      align-items: center;     
    }

    .social-button {
      margin: 10px; /* Adjust the spacing between buttons */
      display: inline-flex; /* Align buttons horizontally */
      align-items: center;
    }
